<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
		<string>uiLayout</string>
		<string>DragAndDrop</string>
		<string>Grid</string>
		<string>RemapTouchToScene</string>
		<string>ScrollArea</string>
		<string>HoverChecking</string>
		<string>TextInput</string>
		<string>hStack</string>
		<string>vStack</string>
		<string>FakeChild</string>
		<string>DragableList</string>
		<string>Label</string>
		<string>Dragable</string>
		<string>Button</string>
		<string>menuButton</string>
		<string>menuBar</string>
		<string>collapsibleSection</string>
		<string>fitChildren</string>
		<string>DropDown</string>
		<string>ColorPicker</string>
		<string>TextField</string>
		<string>Paragraph</string>
		<string>ProgressBar</string>
		<string>Slider</string>
		<string>fitUI</string>
		<string>ColorShaders</string>
		<string>ScrollBar</string>
		<string>toggle</string>
		<string>Arrow</string>
		<string>TextAlert</string>
		<string>Joystick</string>
		<string>Uxl</string>
	</array>
	<key>Runtime Type</key>
	<string>modern</string>
</dict>
</plist>
